<mat-card class="card" fxLayout="row wrap">
  <meta
    charset="utf-8"
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <mat-card-header>
    <mat-card-title>Attendance</mat-card-title>
    <mat-card-subtitle>
        Select any Option
    </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <div class="pageCenter">
    <div class="equalDistances example-flex-container">
      <button type="button" (click)="navigate()">Mark Today's Attendance</button>
    </div>
    <div class="equalDistances">
      <button>Different Date Attendance</button>
    </div>
    <div class="equalDistances">
      <button>Reviews</button>
    </div>
  </div>
</mat-card-content>
</mat-card>
